body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
.container {
  padding: 55px;
  gap: 05px;
  justify-content: center;
}
.card {
  padding: 5px;
  background: #fff;
  width: 250px;
  height: 150px;
  border-radius: 7px;
  box-shadow: 0 10px 10px gray;
}
.btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  background: #222;
  color: aliceblue;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 55px;
}
